.wp-block-heading.is-style-secondary{
    padding-top: var(--wp--preset--spacing--30);
    padding-bottom: var(--wp--preset--spacing--20);
    font-family: var(--wp--preset--font-family--josefin-sans);
    font-weight:400;
}