@use '../base/vars' as *;
*{
	box-sizing:border-box;
}

*:focus-visible{
    outline: 2px solid $black;
    outline-offset: 1px;
    box-shadow: 0px 0px 0px 4px $white;
    border-radius: 3px;
}


.sr-only{
	@include visually-hidden;
}

.sr-only-focusable {
	@include visually-hidden;

	&:focus, &:focus-within {
        position: relative;
		width: auto !important;
		height: auto !important;
        clip: initial;
		margin: inherit;
        padding: inherit;
        border: initial;
	}
}

input,
textarea,
select,
button {
  font-family: $primary-font;
  font-size: inherit;
}

a {
    text-decoration: none; // Elimina el subrayado
    color: inherit; // Hereda el color del elemento padre

    // Excluye enlaces dentro de párrafos
}

p>a {
    text-decoration: underline; // Asegura que siga sin subrayado
    color: $primary-06; // O cualquier color que prefieras
}
button{
    background-color: $grey-02;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    border:none;
    display:flex;
    align-items: center;
    padding:0.75rem;
    font-size:1rem;
    color: $grey-09;
    gap: 0.5rem; // Añade separación entre elementos hijos
    &:hover{
        background-color: $grey-07;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
        color:white;
        *{
            background-color: $white;
        }
    }

}

.is-layout-constrained > :where(:not(.alignfull)){
   
    @media(max-width:$screen-lg){
        padding-left:10px;
        padding-right:10px;
    }
}