@use '../base/vars' as *;

#site-header {
	position: relative;
	transition: transform 0.3s ease, background-color 0.3s ease;
	z-index: 999;
    > .wp-block-group{
        margin-block-start: 0;
    }
    .wp-block-navigation{
        .wp-block-navigation-item{
            &.current-menu-item{
                > a{
                    border-bottom:.2rem solid var(--wp--preset--color--color-primary-06);
                }
            }
            &__content{
                padding-top:1.2rem;
                padding-bottom: 1rem;
                border-bottom:.2rem solid transparent;
                transition:border 0.3s ease;
                &:hover{
                    border-bottom:3px solid var(--wp--preset--color--color-primary-06);
                }
            }
        }
    }
}


.has-modal-open .wp-block-site-logo{
    @media(max-width:$screen-lg) {
        position:fixed;
        top:1rem;
        left:1rem;
        z-index:999999; 
        background-color: $white;
    }
}