<!-- wp:template-part {"slug":"header","theme":"dahlia"} /-->

<!-- wp:dahlia-blocks/category-cover /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main id="main" class="wp-block-group"><!-- wp:dahlia-blocks/post-grid {"cardStyle":"highlight","filterBy":"popular_always","postsPerPage":2,"gridItemsDesktop":2,"align":"wide"} /-->

    <!-- wp:dahlia-blocks/post-grid {"postsPerPage":-1,"excludeQueryPosts":true,"align":"wide"} /-->
    
    <!-- wp:heading -->
    <h2 class="wp-block-heading"></h2>
    <!-- /wp:heading --></main>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"dahlia"} /-->